@media (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: black;
    padding: 10px;
  }

  a {
    text-decoration: none;
  }

  .box-all {
    background: rgb(65, 65, 65);
    background: linear-gradient(90deg, rgb(65, 65, 65) 35%, rgb(189,186,186) 35%, rgb(189, 186, 186) 100%);
    box-shadow: 7px 7px 8px white;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  .containner {
    display: flex;
    flex-wrap: wrap;
  }

  .header-box {
    background: rgb(65, 65, 65);
    background: linear-gradient(90deg, rgb(189, 186, 186) 30%, rgb(189, 186, 186) 30%, rgb(65, 65, 65)100%);
    border-radius: 15px;
    box-shadow: 7px 7px 8px black;
    width: 85%;
    align-items: center;
    justify-content: space-evenly;
  }

  .text-perfil {
    flex-direction: column;
  }

  .name-perfil {
    font-size: 12px;
    text-decoration: underline;
  }

  .title-perfil {
    font-size: 10px;
  }

  #perfil {
    width: 30%;
  }

  .main-box {
    width: 100%;
    padding: 5px;
    gap: 5px;
  }

  .profile-box {
    width: 33%;
    padding: 5px;
    border: solid red 1px;
  }

  .title-profile {
    gap: 5px;
    align-items: center;
  }

  .hexagon {
    width: 10px;
    height: 10px;
  }

  .title-pch {
    font-size: 12px;
    color: white;
  }

  .line {
    width: 30px;
    height: 10px;
  }

  .profile-description {
    padding: 5px;
    font-size: 12px;
    color: white;
  }

  .title-contact {
    gap: 5px;
    align-items: center;
  }

  .contact-description {
    padding: 5px;
    gap: 5px;
    flex-direction: column;
    align-items: center;
  }

  .icons {
    width: 30px;
    height: 30px;
  }

  .text-contact {
    font-size: 8px;
    color: white;
  }

  .title-hobbies {
    gap: 5px;
    align-items: center;
  }

  .hobbies-description {
    flex-direction: column;
    padding: 5px;
  }

  .text-hobbies {
    color: white;
    font-size: 12px;
  }

  .skills-box {
    width: 65%;
    border: solid red 1px;
  }
}
