* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  padding: 30px;
  display: flex;
  justify-content: center;
}

a {
  color: white;
  text-decoration: none;
}

.containner {
  display: flex;

}

.header {
  background: rgb(182,182,182);
  background: linear-gradient(90deg, rgb(224, 224, 224) 0%, rgba(189,189,190,1) 10%, rgb(128, 128, 128) 100%);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  align-items: center;
  gap: 100px;
  box-shadow: 15px 10px 10px rgb(0, 0, 0);
}

.name {
  flex-direction: column;
}

.profile{
  gap: 10px;
}

.h2-left {
  color: white;
}

.icons-contact {
  width: 50px;
  height: 50px;
}

.contact {
  gap: 10px;
}

.icons {
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 25px;
}

.text-contact {
  color: white;
  font-size: 15px;
}

#text-profile {
  padding: 20px;
}

#description-profile {
  color: white;
  font-size: 15px;
  text-align: left;
}

#block-left {
  width: 20%;
}

#hexagon {
  width: 25px;
  height: 25px;
}

#line {
  height: 25px;
  width: 60%;
}

#containner-header {
  padding: 50px;
}

#perfil {
  width: 20%;
  height: 20%;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

#containner-all {
  padding: 20px;
  max-width: 1200px;
  justify-content: center;
  background: rgb(65,65,65);
  background: linear-gradient(90deg, rgba(65, 65, 65, 0.87) 25%, rgb(216, 216, 216) 25%, rgba(216,216,216,1) 100%);
  box-shadow: 15px 10px 10px rgb(39, 39, 39);
}

#nome-header {
  text-decoration: underline;
  font-size: 35px;
}

#title {
  font-size: 20px;
}